<form [formGroup]= "contact" (ngSubmit)= "contacter()">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="EmailAddr">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"></button>
</form>